! For rxvt Unicode
!! Terminal colors
URxvt.depth:      32
URxvt.background: rgba:2221/2221/2221/ffff
URxvt.foreground: white
!! For man pages
URxvt.colorIT:    #87af5f
URxvt.colorBD:    #d7d7d7
URxvt.colorUL:    #87afd7
